@page "/sheet/{sheetId}"
@using SmartSheetLoader.Models




@if (sheet == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>@sheet.name</h3>
   
  
        <table class="table">
            <thead>
                <tr>
                    @foreach (var column in sheet.columns)
                    {
                        <th>@column.title</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var row in sheet.rows)
                {
                    <tr>
                        @foreach (var cell in row.cells)
                        {
                            <td>@cell.displayValue</td>
                        }


                    </tr>
                }
            </tbody>
        </table>
    }
   

   
    


