  @using Syncfusion.Blazor.Spinner
  <div class="row">
            <div class="col-sm">
                <div class="spin-row">
                    <SfSpinner Size="40" Label="Loading" Type="SpinnerType.Fabric" Visible="true"></SfSpinner>
                </div>
            </div>
        </div>

@code {

}
