@using Microsoft.AspNetCore.SignalR.Client
@using SmartSheetLoader.SignalR
@using Syncfusion.Blazor.Notifications
@inject IMessagingMemoryAccess MMS
@inject NavigationManager Nav
<div class="col-lg-12 control-section toast-default-section">
    <SfToast ID="toast_default" @ref="ToastObj" Timeout="5000" >
        <ToastPosition X="@ToastPosition"></ToastPosition>
    </SfToast>
</div>
@code {

    private SfToast ToastObj { get; set; }
    private string ToastPosition = "Right";
    protected override async Task OnInitializedAsync()
    {
        string rootUrl = $"{Nav.BaseUri}messaginghub";
        var connection = new HubConnectionBuilder()
               .WithUrl(rootUrl)
               .WithAutomaticReconnect()
               .Build();
        connection.On<string>("SendStringMessageAsync", async (data) =>
        {

            await Task.Run(() => DisplayMessage(data));
            Console.WriteLine($"Reading Message {data}");

        });
        await connection.StartAsync();
    }
    private async Task DisplayMessage(string id)
    {
        var message = MMS.GetMessage(id);
        if (!String.IsNullOrEmpty(message))
        {
            var displayToast = new ToastModel { Title = "Success!", Content = message, CssClass = "e-toast-success", Icon = "e-success toast-icons" };
            await ToastObj.ShowAsync(displayToast);
        }
     
        MMS.RemoveMessage(id);

    }
}
